$tthrooC1: #7530e9;
$tthrooC2: rgb(74, 255, 255);;
// #4acbfffa;
$tthrooTxt: black;
$borderRadius: 15px;
$sbBtnFs: 21px;
$sbLblH: 28px;
$sbLbl: 26px;
$sbEm: 26px 0;
$sbBtnBg: white;
$tthrooBg: #F2F2F2;